:root {
  --primary-font-family: "Manrope", sans-serif;
  --primary-font-size: 13px;
  --primary-font-weight: 500;
  --secondary-font-weight: 700;
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --max-width-mobile: 320px;
  --max-width-desktop: 700px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
  font-family: var(--primary-font-family);
}

p {
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
  color: var(--desaturated-dark-blue);
}

.article-container {
  max-width: var(--max-width-mobile);
  min-width: 280px;
  background-color: #ffffff;
  border-radius: 12px;
  margin: 20px;

  @media (min-width: 992px) {
    display: flex;
    max-width: var(--max-width-desktop);
  }
}

.image-section {
  img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 100%;
    object-fit: cover;

    @media (min-width: 992px) {
      border-top-right-radius: 0;
      border-bottom-left-radius: 12px;
    }
  }
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 992px) {
    max-width: 60%;
  }
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 32px 16px;

  h1 {
    font-size: 1rem;
    font-weight: var(--secondary-font-weight);
    color: var(--very-dark-grayish-blue);
  }
}

.share-wrapper {
  display: flex;
  align-items: center;
  padding: 14px 34px;
  justify-content: space-between;
  min-height: 70px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  @media (min-width: 992px) {
    border-bottom-left-radius: 0;
  }

  .author-info-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;

    > img {
      max-width: 40px;
      border-radius: 50%;
    }

    h2 {
      font-size: var(--primary-font-size);
      font-weight: var(--secondary-font-weight);
      color: var(--very-dark-grayish-blue);
    }
  }

  .share-button {
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;

    > svg {
      width: 100%;
      height: auto;
    }
  }

  .links-wrapper {
    display: none;
    align-items: center;
    gap: 16px;

    h2 {
      font-size: 0.8rem;
      letter-spacing: 4px;
      color: var(--grayish-blue);
    }
  }
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  max-width: var(--max-width-mobile);

  > p {
    margin-bottom: 6px;
  }
  @media (min-width: 992px) {
    max-width: var(--max-width-desktop);
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
